<% @page_title = "管理者TOP" %>
<h2><%= @page_title %></h2>

<p><%= link_to "予約管理", admin_reservations_path %></p>
<p><%= link_to "ツアー管理", admin_tour_infomations_path %></p>
<p><%= link_to "レビュー管理", admin_reviews_path %></p>
